<html>
  <head>
  </head>
  <body>
    <header>
      <h1>This is Bethany's practice home site</h1>
    </header>
    <section>
      <p>cats are cool. and they do cool stuff</p>
      <%= link_to "about", about_path %>
    </section>
    <footer>
    </footer>
  </body>
</html>
