<div class = "container">
  <footer class = "footer">
    <small>
      Bethany made this because dachsunds are COOL
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
    <footer>
    </div>
